body, h1, h2, h3, h4, h5, h6, th, td { font-family: 'Muli', sans-serif; }

.container {
	margin-bottom: 50px;
	margin-top: 0px;
}

h1 {
	font-size: 1.5em;
}

h1 small {
	font-size: 70%;
}

.lead {
	color: white;
	background-color: black;
	background-image: url(https://farm9.staticflickr.com/8370/8364390230_8605b99f59_b_d.jpg)
}


.container {
	margin-top: 20px;
	position: relative;
}

#sidebar {
	width: 20%;
	position: fixed;
	top: 0;
	bottom: 0;
	overflow-y: scroll;
	overflow-x: hidden;
}

#content {
	position: absolute;
	right: 0;
	width: 70%;
}

.header a.active {
	color: black;
}

.header {
	/*padding: 5px !important;*/
}

.footer {
	border-top: 1px solid #ccc
}

.nav-primary {
	margin-top: 1.5em;
	margin-bottom: 1.5em;
	/*border-top: 1px solid #ccc;*/
	border-bottom: 1px solid #ccc;
	font-size: 1.2em;
}

.nav-primary a {
	display: inline-block;
	margin-right: 20px;
	text-transform: uppercase;
}

.nav-primary a.active {
	border-bottom: 3px solid #000;
}


h2 {
	margin-top: 3em;
	padding-top: 0.5em;
}

a h2 {
	color: black;
}


a.anchor-link {
	color: inherit;
}
a.anchor-link:hover {
	text-decoration: none;
}

nav ul.affix-top {
    position: relative;
}

nav ul.affix {
    position: fixed; 
    top: 10px;
}
nav ul.affix-bottom {
    position: absolute;
}

@media (max-width: 768px) {
	nav ul.affix {display: none;}
}
	

#tableOfContents ul li a {
	padding: 3px;
}


#tableOfContents ul.nav { /*first Nav level*/
	font-size: 1.1em;
}
#tableOfContents ul.nav ul.nav { /*second Nav level*/
	margin-left: 10px;
	font-size: 0.9em;

}

#tableOfContents ul.nav ul.nav ul.nav { /*third Nav level*/
	margin-left: 20px;
}




.container-post h2 {
	margin-top: 0em;
}

.post-list .post {
	margin-bottom: 1em;
}

.post-list .post a {
	font-size: 120%;
}


.embed-container { position: relative; padding-bottom: 56.25%; padding-top: 30px; height: 0; overflow: hidden; max-width: 100%; height: auto; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }


iframe {
	width: 100%;
	border: none;
}