<head>
	<link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

</head>

<template name="jEmptyLayout">
	{{> yield}}
</template>

<template name="notFound">
	<hr>
	<div class="jumbotron text-center"><p>This part of the website is not build yet.</p>
	<a href="javascript:history.back();" class="btn btn-large btn-warning btn-block">Go back</a></div>
</template>


<template name="flashMessages">
	{{#each messages}}
	   {{#if type }}
			<div class="alert alert-{{type}}">{{{message}}}</div>
	   {{else}}
	   		<div class="alert alert-info">{{{message}}}</div>
	   {{/if }}
	{{/each}}
</template>

<template name="jDocument">
	{{> UI.contentBlock this.object}}
</template>

<template name="jCollection">
	{{#each this.objectsArray}}
		{{> UI.contentBlock this}}
	{{/each}}
</template>

<template name="jRepeat">
    {{#each this.array}}
		{{> UI.contentBlock this}}
	{{/each}}
</template>