<html>
<head>
	{% include head.html %}
</head>
<body data-spy="scroll" data-target="#autoNavigation">
	<div class="container">
		<div class="row">
			<div id="sidebar">
				<div>
					<div class="header">{% include header.html %}</div>

					<div id="tableOfContents">

					</div>
				</div>
			</div>
			<div id="content">
					{{ content }}
					{% include footer.html %}
			</div>
		</div>
	</div>
	<script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>
</body>
</html>
