<html>
<head>
	<title>Jeizinen Prototyper</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc1/css/bootstrap.min.css">
	<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc1/js/bootstrap.min.js"></script>
	<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>

	<link href='http://fonts.googleapis.com/css?family=Muli' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="css/global.css">
	<script src="js/autoNavigation.js"></script>
	<script src="js/run_prettify.js"></script>

	<link rel="stylesheet" href="http://jmblog.github.com/color-themes-for-google-code-prettify/css/themes/tomorrow.css">
</head>
<body >
	<div class="container">
		<div class="row"><div class="col-sm-12">
					<h1>Jeizinen Prototyper <span class="text-muted">for meteor.js</span></h1>
				</div>
		</div>
		<div class="row">
			<div class="col-sm-3 allow-scroll">
				<div id="autoNavigation" data-spy="affix" data-offset-top="0" data-offset-bottom="0">
					<ul id="nav" class="nav"></ul>
				</div>
			</div>
			<div class="col-sm-9">

				<div data-autoNavigation>{{ content }}</div>

			</div>
		</div>
	</div>
</body>
</html>