<html>
<head>
	<title>UI Prototyper for Meteor.js - Codename "Jeizinen"</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc1/css/bootstrap.min.css">
	<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc1/js/bootstrap.min.js"></script>
	<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>

	<link href='http://fonts.googleapis.com/css?family=Muli' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="{{ site.baseurl}}/css/global.css">
	<script src="{{ site.baseurl}}/js/autoNavigation.js"></script>
	<script src="{{ site.baseurl}}/js/run_prettify.js"></script>

	<link rel="stylesheet" href="http://jmblog.github.com/color-themes-for-google-code-prettify/css/themes/tomorrow.css">

	<meta name="viewport" content="width=device-width">
	<link rel="alternate" type="application/rss+xml" title="UI Prototyper RSS Feed" href="{{ site.baseurl}}/rss.xml" />
</head>
<body >
	<div class="container">
		{% include header.html %}
			<div class="row">
				<div class="col-sm-12">{{ content }}</div>
			</div>
		</div>
	</div>
</body>
</html>